* {
  margin: 0;
  padding: 0; }

.container {
  width: 100%; }

.box {
  margin: auto;
  display: block;
  width: 900px; }
  .box h1 {
    color: #000000;
    text-align: center;
    letter-spacing: 3px; }

.text {
  color: #000000; }

.img_center {
  width: 100%;
  height: auto; }

.list {
  text-align: center;
  font-size: 0; }
  .list .list_element {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    background-color: darkgray;
    cursor: pointer; }
    .list .list_element:last-child {
      margin-right: 0; }
    .list .list_element .link {
      text-decoration: none;
      color: aqua;
      font-size: 16px;
      font-weight: 700; }
      .list .list_element .link:hover {
        transition: 1s;
        color: black; }
